.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1.2fr  0.5fr;
    grid-template-rows: 0.3fr 1.2fr 0.8fr;
    grid-template-areas: 
    "header header header"
    "rightsidebar maincontent maincontent leftsidebar"
    "footer footer footer";
     grid-gap: 6px;
}
header{
 background-color: #fe8515; 
   grid-area: header;
}
main{
    background-color: #8bf10a;
    grid-area: main;
}
#rightsidebar{
    background-color: #7fc242;
    grid-area: rightsidebar;
    border-radius: 10px;
}
#maincontent{
    background-color: #8bf10a;
    grid-area: maincontent;
    border-radius: 10px;
}
#leftsidebar{
    background-color: #7fc242;
    grid-area: leftsidebar;
    border-radius: 10px;
}
footer{
    background-color:#f57e20;
    grid-area: footer;
}